.card {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__image {
    border-radius: 8px;
    padding: 12px;
    width: 350px;
    height: 355px;
    margin: 0 auto;
    object-fit: cover;
    @media screen and (min-width: 768px) {
        width: 350px;
        height: 350px;
    }

    @media screen and (min-width: 1200px) {
      width: 350px;
      height: 450px;
    }
  }
  &__image_div{
 
      @media screen and (min-width: 768px) {
       width: 60%;
    }
  }
  &__text {
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);

    @media screen and (min-width: 768px) {
      padding: 20px;
      text-align: left;
    }

    @media screen and (min-width: 1200px) {
      font-size: 28px;
      line-height: 40px;
    }
  }

  &__title {
    margin-top: 4px;
    font-size: 64px;
    line-height: 1.5;
    color: var(--accent-color);
  }
    &__title2 {
    margin-top: 4px;
    font-size: 40px;
    line-height: 1.5;
    color: var(--text-color);
    text-align: left;
  }

  &__description{
   margin-top: 4px;
    font-size: 34px;
    line-height: 1.5;
    color: var(--accent-color);
   }

  &__block {
    @media screen and (min-width: 768px) {
      width: 60%;
    }
  
  }
    
  &__link {
    display: block;
    text-align: left;
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.5;
  
    color: var(--accent-color);
  }

}